<div class="sticky">
  <div class="bg-whitesmoke flex items-center gap-5 p-3">
    <img src="icons/trello.png" class="w-8" />
    <h1 class="text-mainblue font-semibold text-2xl ml-3">Trello</h1>
    <div class="w-40 bg-whitesmoke text-sm flex gap-16 ml-15">
      <button class="flex items-center gap-3 cursor-pointer">
        Workspace <img src="icons/dropdown.png" class="w-4 h-4" />
      </button>
      <button class="flex items-center gap-3 cursor-pointer">
        Recent <img src="icons/dropdown.png" class="w-4 h-4" />
      </button>
      <button class="flex items-center gap-3 cursor-pointer">
        Starred <img src="icons/dropdown.png" class="w-4 h-4" />
      </button>
      <button class="flex items-center gap-3 cursor-pointer">
        Templates <img src="icons/dropdown.png" class="w-4 h-4" />
      </button>
    </div>
    <div
      class="flex items-center border rounded-full border-gray-500 p-2 gap-3 ml-96"
    >
      <img src="icons/search.png" class="w-4 h-4" />
      <input type="search" placeholder="Search" class="focus:outline-none" />
    </div>
    <div class="flex gap-10 ml-32">
      <button class="bg-skyblue text-white p-2 px-4 rounded-sm cursor-pointer">
        Create
      </button>
      <button
        class="bg-skyblue text-white p-2 px-4 rounded-sm flex items-center gap-2 cursor-pointer"
      >
        <img src="icons/premium.png" />
        Try Premium
      </button>
    </div>
  </div>
</div>
